.node rect {
  cursor: move;
  fill-opacity: 0.9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  color: lime;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}

.link:hover {
  stroke-opacity: 0.5;
}

body {
  line-height: 1.6;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  color: lime;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}

.link:hover {
  stroke-opacity: 0.5;
}

.buttons {
  margin: 10px;
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}

.side-nav {
  top: 64px;
}

.emblem {
  height: 80px !important;
  margin-top: -14px !important;
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

.promo i,
.icon {
  color: #004d40;
}

a:hover {
  color: #004d40;
}

.header {
  color: #004d40;
  font-weight: 300;
}

foreignObject {
  font-size: 14px;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.project-content p {
  text-align: justify !important;
}

blockquote {
  border-left: 5px solid #004d40 !important;
}

.card-panel {
  margin-left: 6% !important;
}

#slide-out {
  width: 200px;
}

#breadcrumb {
  margin-bottom: -7px;
}

#chart svg {
  max-width: calc(96% - 200px);
  margin-top: 1%;
  margin-left: calc(200px + 1%);
  margin-right: 1%;
}

.parcoords {
  display: block;
}

.parcoords svg,
.parcoords canvas {
  font: 10px sans-serif;
  position: absolute;
}

.parcoords canvas {
  opacity: 0.9;
  pointer-events: none;
}

.axis .title {
  font-size: 10px;
  transform: rotate(-21deg) translate(-5px, -6px);
  fill: #222;
}

.axis line,
.axis path {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.axis .tick text {
  fill: #222;
  pointer-events: none;
}

.axis.pl_facility .tick text,
.axis.pl_instrument .tick text,
.axis.st_spstr .tick text {
  font-size: 6px;
}

.axis.pl_telescope .tick text {
  font-size: 5px;
}

.axis:hover line,
.axis:hover path,
.axis.active line,
.axis.active path {
  fill: none;
  stroke: #222;
  stroke-width: 1px;
}

.axis:hover .title {
  font-weight: bold;
}

.axis:hover .tick text {
  opacity: 1;
}

.axis.active .title {
  font-weight: bold;
}

.axis.active .tick text {
  opacity: 1;
  font-weight: bold;
}

.brush .extent {
  fill-opacity: 0.3;
  stroke: #fff;
  stroke-width: 1px;
}

pre {
  width: 100%;
  height: 300px;
  margin: 6px 12px;
  tab-size: 40;
  font-size: 10px;
  overflow: auto;
}

/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 0px 0 0 #fff !important;
}
/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 0px 0 0 #000;
}
/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

.page-footer {
  background-color: #009688 !important;
}
