.node rect {
  cursor: move;
  fill-opacity: 0.9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  color: lime;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}

.link:hover {
  stroke-opacity: 0.5;
}

.side-nav {
  top: 64px;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 12px;
  color: lime;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.2;
}

.link:hover {
  stroke-opacity: 0.5;
}

.side-nav {
  top: 64px;
}

.emblem {
  height: 80px !important;
  margin-top: -14px !important;
}

.promo-caption {
  font-size: 1.7rem;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 0;
}

.promo i {
  color: #004d40;
}

a:hover {
  color: #004d40;
}

.header {
  color: #004d40;
  font-weight: 300;
}

body {
  line-height: 1.6;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

foreignObject {
  font-size: 14px;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.project-content p {
  text-align: justify !important;
}

blockquote {
  border-left: 5px solid #004d40 !important;
}

.col-3-card {
  width: 29%;
  height: 200px;
  margin-left: 3.33333%;
  left: auto;
  right: auto;
}

#slide-out {
  width: 200px;
}

#breadcrumb {
  margin-bottom: -7px;
}

#chart svg {
  max-width: calc(96% - 200px);
  margin-top: 1%;
  margin-left: calc(200px + 1%);
  margin-right: 1%;
}

.parcoords {
  display: block;
}

.parcoords svg,
.parcoords canvas {
  font: 10px sans-serif;
  position: absolute;
}

.parcoords canvas {
  opacity: 0.9;
  pointer-events: none;
}

.axis .title {
  font-size: 10px;
  transform: rotate(-21deg) translate(-5px,-6px);
  fill: #222;
}

.axis line,
.axis path {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.axis .tick text {
  fill: #222;
  pointer-events: none;
}

.axis.pl_facility .tick text,
.axis.pl_instrument .tick text,
.axis.st_spstr .tick text {
  font-size: 6px; 
}

.axis.pl_telescope .tick text {
  font-size: 5px; 
}

.axis:hover line,
.axis:hover path,
.axis.active line,
.axis.active path {
  fill: none;
  stroke: #222;
  stroke-width: 1px;
}

.axis:hover .title {
  font-weight: bold;
}

.axis:hover .tick text {
  opacity: 1;
}

.axis.active .title {
  font-weight: bold;
}

.axis.active .tick text {
  opacity: 1;
  font-weight: bold;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: 1px;
}

pre {
  width: 100%;
  height: 300px;
  margin: 6px 12px;
  tab-size: 40;
  font-size: 10px;
  overflow: auto;
}
